.textbox {
  width: 60%;
  margin: 2em auto;
}

.entity {
  cursor: pointer;
  padding: 0.1em 0.2em;
  border-radius: 0.1em;
  position: relative;
}

.entity::after {
  content: "Delete";
  text-align: center;
  font-size: 0.8em;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 0.1em;
  background-color: rgba(0, 0, 0, 0.556);
  /* background: url("path/to/delete-icon.svg"); */
}

/* .entity:hover::after {
  display: block;
} */

.name {
  background-color: rgba(243, 60, 60, 0.568);
}